
#content form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

input[type=submit] {
  font-size: 40px;
  padding: 5px;
  background: white;
  border-width: 10px;
}

input[type=submit]:hover {
  cursor: pointer;
  background: #b5b5b5;
}
