<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}Cybotify{% endblock title %}
    </title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href={% static 'frontend/css/base.css' %}>
    {% block css %}
    {% endblock css %}

    <style>
    {% block style %}{% endblock style %}
    </style>

    {% block scripts %}{% endblock scripts %}
  </head>
  <body>

  <div id="container">
    <div id="sidebar">
      {% block sidebar %}
        <ul style="list-style-type:none;">
        {% if request.user.is_authenticated %}
          <li><a href={% url 'index' %}>Home</a></li>
          {% if request.user.is_superuser %}
          <li><a href={% url 'admin:index' %}>Admin</a></li>
          {% else %}
          <li><a href={% url 'playlists' %}>Playlists</a></li>
          {% endif %}
          <li><a href={% url 'profile' %}>Profile</a></li>
          <li><a href={% url 'logout' %}>Log out</a></li>
        {% else %}
          <li><a href={% url 'index' %}>Home</a></li>
          <li><a href={% url 'login' %}>Log in</a></li>
          <li><a href={% url 'register' %}>Sign up</a></li>
        {% endif %}
        </ul>
      {% endblock sidebar %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  </body>
</html>
