{% extends "frontend/base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href={% static 'frontend/css/playlists.css' %}>
{% endblock css %}

{% block content %}
<h2>Hi {{ request.user.first_name|title }}, welcome to Cybotify!</h2>

<div style="font-size: 18px">Click one of your playlists to see a basic analysis</div>

<div id="playlists">
  <ul id="playlistList">
    {% for playlist in playlists %}
      <li>
        <a href={% url 'playlist-detail' playlist.pk %}>
          <div class="playlist">
            <span class="playlistName">
              {% if playlist.name %}
              {{ playlist.name }}
              {% else %}
              Untitled
              {% endif %}
            </span>
            <span class="playlistLastUpdated">last updated {{ playlist.last_updated }}</span>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
