{% extends "frontend/base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href={% static 'frontend/css/profile.css' %}>
{% endblock css %}

{% block content %}
<h2>User profile of {{ request.user.username }}</h2>

<ul>
  <li>
    <span class="attributeName">Name:</span>
    <span class="attributeValue">{{ request.user.first_name }} {{ request.user.last_name }}</span>
  </li>
  <li>
    <span class="attributeName">Email:</span>
    <span class="attributeValue">{{ request.user.email }}</span>
  </li>
  <li>
    <span class="attributeName">Spotify username:</span>
    <span class="attributeValue">{{ request.user.username }}</span>
  </li>
</ul>

{% endblock %}
