{% extends "base.html" %}

{% block title %}
  {{ block.super }} - Create password
{% endblock title %}

{% block content %}

<h2>Choose a username and password below</h2>

<form action={% url 'create-password' %} method="post">
{% csrf_token %}

<p>Username:</p>
<input name="username" required="required" type="text" id="text" >

<p>Password:</p>
<input name="password" required="required" type="password" id="password" >

<p>Confirm Password:</p>
<input name="password_confirm" required="required" type="password" id="password_confirm" oninput="check(this)" >

<br /><br />
<input type="submit"/>
</form>
{% endblock %}


{% block scripts %}
<script language='javascript' type='text/javascript'>
  function check(input) {
    if (input.value != document.getElementById('password').value) {
      input.setCustomValidity('Password Must be Matching.');
    } else {
      // input is valid -- reset the error message
      input.setCustomValidity('');
    }
  }
</script>
{% endblock scripts %}
