{% extends "base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href={% static 'css/playlists.css' %}>
{% endblock css %}

{% block scripts %}
{{ playlist_data|json_script:"playlists" }}
{% load static %}
<script src="{% static 'js/playlists.js' %}" type="application/javascript"></script>
{% endblock scripts %}

{% block content %}
<h2>Hi {{ request.user.first_name|title }}, welcome to Cybotify!</h2>

<div style="font-size: 18px">Click one of your playlists to see a basic analysis</div>

<div style="display: flex">
  <label for="filter" style="width:200px">Filter by playlist type:</label>
  <select name="filter" id="filter" style="font-size: 18px">
    <option value="ALL" selected>All</option>
    <option value="PR">Private</option>
    <option value="PU">Public</option>
    <option value="CO">Collaborative</option>
  </select>
</div>
<div style="display: flex">
  <label for="sort" style="width:200px">Sort by:</label>
  <select name="sort" id="sort" style="font-size: 18px">
    <option value="Default" selected>Default</option>
    <option value="Alphabetical">Alphabetical</option>
  </select>
</div>

<div id="playlists">
  <ul id="playlistList">
  </ul>
</div>
{% endblock %}
