{% extends "base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href={% static 'css/playlist_detail.css' %}>
{% endblock css %}

{% block scripts %}
<script src="https://cdn.plot.ly/plotly-2.7.0.min.js"></script>
{{ features|json_script:"features" }}
{% load static %}
<script src="{% static 'js/features.js' %}" type="application/javascript"></script>
{% endblock scripts %}

{% block content %}

<div id="contentContainer">
  <div id="playlistInfo">
    <div id="playlistName">
      <span>{{ playlist.name }}</span>
    </div>
    <div id="trackContainer">
      {% for track in playlist.track_set.all %}
        <p class="trackInfo">
          {{ track.name }}
          <br>
          {{ track.artists_comma_separated }}
        </p>
      {% endfor %}
    </div>
  </div>

  <div id="spiderPlot"/>
<div>

{% endblock %}
