{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static 'css/playlists.css' %}>
{% endblock css %}

{% block scripts %}
<script src="{% static 'js/playlists.js' %}" type="application/javascript"></script>
<script>
  const requestUrl = "{{ url }}";
  let detailUrl = "{{ detail_url }}";
  detailUrl = detailUrl.slice(0, detailUrl.length - 1);
</script>
{% endblock scripts %}

{% block content %}
<h2>Hi {{ request.user.first_name|title }}, welcome to Cybotify!</h2>

<div style="font-size: 18px">Click one of your playlists to see a basic analysis</div>

<div>
  <label for="filter">Filter by playlist type:</label>
  <select name="filter" id="filter" style="font-size: 18px">
    <option value="ALL" selected>All</option>
    <option value="PR">Private</option>
    <option value="PU">Public</option>
    <option value="CO">Collaborative</option>
  </select>
</div>

<div id="playlists">
  <ul id="playlistList">
  </ul>
</div>
{% endblock %}
