{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static 'css/playlist_detail.css' %}>
<link rel="stylesheet" href={% static 'css/loader.css' %}>
{% endblock css %}

{% block scripts %}
<script src="https://cdn.plot.ly/plotly-2.7.0.min.js"></script>
<script src="{% static 'js/playlist_detail.js' %}" type="application/javascript"></script>
<script type="application/javascript">
  const playlistUrl = "{{ playlist_url }}";
  const analysisUrl = "{{ analysis_url }}";
</script>
{% endblock scripts %}

{% block content %}

<div id="contentContainer">
  <div id="playlistInfo">
    <div id="playlistName">
      <span id="playlist">Loading playlist...</span>
    </div>
    <div id="trackContainer">
      <div class="lds-ripple"><div></div><div></div></div>
    </div>
  </div>

  <div id="spiderPlot">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
<div>

{% endblock %}
